company.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:element name="company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="account" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                    
                    <!-- Ràng buộc: product.id phải duy nhất trong từng order -->
                    <xs:unique name="UniqueProductID">
                        <xs:selector xpath="product"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        
        <!-- Ràng buộc: order.id phải duy nhất trong toàn bộ company -->
        <xs:unique name="UniqueOrderID">
            <xs:selector xpath="order"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
    
</xs:schema>
