student_ID.xsd

<?xml version="1.0"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XmlSchema.xsd to edit this template
-->

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
           elementFormDefault = "qualified">
    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs = "unbounded">
                    <xs:complexType>
                        
                        <xs:sequence>
                            <xs:element name = "name" type = "xs:string"/>
                            <xs:element name = "date" type = "xs:date"/>
                        </xs:sequence>
                        <xs:attribute name = "id" type = "xs:ID" use = "required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        
</xs:schema>
