student_key.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="studentid" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="classid" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="class" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="classid" type="xs:string"/>
                            <xs:element name="classname" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        
        <!-- khoa chinh -->
        <xs:key name="classkey">
            <xs:selector xpath="class"/>
            <xs:field xpath="classid"/>
        </xs:key>
        
        <!-- khoa ngoai -->
        <xs:keyref name="studentclassref" refer="classkey">
            <xs:selector xpath="student"/>
            <xs:field xpath="classid"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
